@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #121212;
  color: #eaeaea;
  font-family: 'Inter', sans-serif;
  overflow: hidden; /* App-like feel */
}

::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #333; 
  border-radius: 3px;
}
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
